<!DOCTYPE html>
<html lang="en">
<div th:fragment="script">
  <script nonce="2726c7f26c"  th:src="@{/Bootstrap/js/jquery-3.6.3.min.js}"></script>
  <script th:src="@{/Bootstrap/js/screenfull.js}"></script><!-- fullscreen -->
  <script th:src="@{/Bootstrap/js/popper.min.js}"></script><!-- popper -->
  <script th:src="@{/Bootstrap/js/bootstrap.min.js}"></script>

  <script th:src="@{/Bootstrap/js/pace.min.js}"></script><!-- PACE -->
  <script th:src="@{/Bootstrap/js/jquery.slimscroll.min.js}"></script><!-- Slimscroll -->
  <script nonce="2726c7f26c"  th:src="@{/Bootstrap/js/jquery.sparkline.min.js}"></script><!-- Sparkline -->
  <script th:src="@{/Bootstrap/js/template.js}"></script><!-- DashboardX Admin App -->
  <script th:src="@{/Bootstrap/js/Chart.min.js}"></script><!-- Chart js -->
  <script th:src="@{/Bootstrap/js/demo.js}"></script>

  <!-- datatables -->
  <script th:src="@{/DataTables/DataTables-1.13.1/js/jquery.dataTables.min.js}"></script>
  <script th:src="@{/plugin/js/jquery.validate.min.js}"></script><!-- jquery-validation  -->

  <script th:src="@{/plugin/js/sweetalert2.min.js}"></script><!-- Sweetalert2  -->
  <script th:src="@{/plugin/js/jsencrypt.min.js}"></script>
  <script th:src="@{/plugin/js/crypto-js.js}"></script>
</div>
</html>