<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
  <title>WebChain</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Yujie Chen, and Bootstrap contributors">

  <link rel="stylesheet" th:href="@{/Bootstrap/css/bootstrap.min.css}"><!-- theme style -->
  <link rel="stylesheet" th:href="@{/Bootstrap/css/style.css}"><!-- Admin skins -->
  <link rel="stylesheet" th:href="@{/Bootstrap/css/skin_color.css}">
  <link rel="stylesheet" th:href="@{/Bootstrap/css/pace.min.css}"><!-- Pace style -->
  <link rel="stylesheet" th:href="@{/DataTables/DataTables-1.13.1/css/jquery.dataTables.min.css}">

  <link rel="stylesheet" th:href="@{/plugin/css/sweetalert2.min.css}"><!--Sweetalert2 -->
  <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon-32.png}"/>

</head>
</html>