<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/common-head :: head">
</head>
<body class="hold-transition light-skin sidebar-mini theme-blueindigo onlyheader">
<div class="wrapper">
  <!-- Import header -->
  <div th:replace="fragments/header::header-fragment"></div>

  <div class="content-wrapper">
    <div class="container-full clearfix position-relative">
      <!-- Import sidebar -->
      <div th:replace="fragments/sidebar::sidebar-fragment"></div>

      <section class="content"><!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="d-flex align-items-center">
            <div class="mr-auto"><h3 class="page-title">Configuration</h3>
            </div>
          </div>
        </div><!-- /.content-header -->
        <div class="row">
          <div class="col-12">
            <div class="callout callout-info"><h4>Tip</h4>
              <p>You can set your own custom ports for the IPFS, Ethereum (Ganache), and Docker.</p>
            </div>
            <div class="box">
              <div class="box-header with-border"><h4 class="box-title">
                IPFS (<span th:if="${status.getJSONObject('ipfs').getStr('Address') != null}"
                            th:text="'Connected'" th:style="'color:green'"></span><span
                  th:if="${status.getJSONObject('ipfs').getStr('Address') == null}"
                  th:text="'Not connected'" th:style="'color:red'"></span>)</h4>
                <ul class="box-controls pull-right">
                  <li><a class="box-btn-slide" href="#"></a></li>
                  <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
              </div>
              <div class="box-body">
                <div class="row" th:if="${status.getJSONObject('ipfs').getStr('Address') != null}">
                  <div class="col-6" style="display:inline-block"
                       th:text="'Address: ' + ${status.getJSONObject('ipfs').getStr('Address')}"></div>
                  <div class="col-6" style="display:inline-block"
                       th:text="'Version: ' + ${status.getJSONObject('ipfs').getStr('AgentVersion')}"></div>
                  <div class="col-6" style="display:inline-block"
                       th:text="'ID: ' + ${status.getJSONObject('ipfs').getStr('ID')}"></div>
                </div>
                <div class="row">
                  <div class="col-12"><p><br></p>
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Set custom IPFS">
                        <div class="input-group-append">
                          <button class="btn btn-info" type="button">Connect</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
            <div class="box">
              <div class="box-header with-border"><h4 class="box-title">
                Ethereum (<span th:if="${status.getJSONObject('web3').getStr('Address') != null}"
                                th:text="'Connected'" th:style="'color:green'"></span><span
                  th:if="${status.getJSONObject('web3').getStr('Address') == null}"
                  th:text="'Not connected'" th:style="'color:red'"></span>)</h4>
                <ul class="box-controls pull-right">
                  <li><a class="box-btn-slide" href="#"></a></li>
                  <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
              </div>
              <div class="box-body">
                <div class="row" th:if="${status.getJSONObject('web3').getStr('Address') != null}">
                  <div class="col-6" style="display:inline-block"
                       th:utext="'Address: ' + ${status.getJSONObject('web3').getStr('Address')}"></div>
                  <div class="col-6" style="display:inline-block"
                       th:text="'Client: ' + ${status.getJSONObject('web3').getStr('Client')}"></div>
                  <div class="col-6" style="display:inline-block"
                       th:text="'Account: ' + ${status.getJSONObject('web3').getStr('Account')}"></div>
                  <div class="col-6" style="display:inline-block"
                       th:text="'Balance: ' + ${status.getJSONObject('web3').getStr('Balance')} + ' ETH'"></div>
                  <div class="col-6" style="display:inline-block"
                       th:text="'Contract: ' + ${status.getJSONObject('web3').getStr('Contract')}"></div>
                </div>
                <div class="row">
                  <div class="col-12"><p><br></p>
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control"
                               placeholder="Set custom Ethereum address">
                        <div class="input-group-append">
                          <button class="btn btn-info" type="button">Connect</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12"><p><br></p>
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control"
                               placeholder="Set custom Ethereum account">
                        <div class="input-group-append">
                          <button class="btn btn-info" type="button">Connect</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12"><p><br></p>
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control"
                               placeholder="Set custom Ethereum contract">
                        <div class="input-group-append">
                          <button class="btn btn-info" type="button">Connect</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
            <div class="box">
              <div class="box-header with-border"><h4 class="box-title">
                Docker (<span th:if="${status.getJSONObject('docker').getStr('Address') != null}"
                              th:text="'Connected'" th:style="'color:green'"></span><span
                  th:if="${status.getJSONObject('docker').getStr('Address') == null}"
                  th:text="'Not connected'" th:style="'color:red'"></span>)</h4>
                <ul class="box-controls pull-right">
                  <li><a class="box-btn-slide" href="#"></a></li>
                  <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
              </div>
              <div class="box-body">
                <div class="row"
                     th:if="${status.getJSONObject('docker').getStr('Address') != null}">
                  <div class="col-6" style="display:inline-block"
                       th:text="'Address: ' + ${status.getJSONObject('docker').getStr('Address')}"></div>
                  <div class="col-6" style="display:inline-block"
                       th:text="'Version: ' + ${status.getJSONObject('docker').getStr('serverVersion')}"></div>
                  <div class="col-6" style="display:inline-block"
                       th:text="'OS: ' + ${status.getJSONObject('docker').getStr('name')}"></div>
                  <div class="col-6" style="display:inline-block"
                       th:text="'OS Name: ' + ${status.getJSONObject('docker').getStr('operatingSystem')}"></div>
                  <div class="col-6" style="display:inline-block"
                       th:text="'Containers: ' + ${status.getJSONObject('docker').getStr('containers')}"></div>
                  <div class="col-6" style="display:inline-block"
                       th:text="'Running Containers: ' + ${status.getJSONObject('docker').getStr('containersRunning')}"></div>
                </div>
                <div class="row">
                  <div class="col-12"><p><br></p>
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Set custom Docker">
                        <div class="input-group-append">
                          <button class="btn btn-info" type="button">Connect</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </div>
        </div>
      </section><!-- /.content -->
    </div><!-- /.container -->
  </div><!-- /.content-wrapper -->

  <!-- Import footer -->
  <div th:replace="fragments/footer::footer-fragment"></div>

  <!-- Import control sidebar -->
  <div th:replace="fragments/sidebar::control-sidebar-fragment"></div>
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

</div><!-- ./wrapper --><!-- jQuery 3 -->
<div th:include="fragments/common-script :: script"></div>

<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/encryption.js}"></script>
</body>
</html>