<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside class="main-sidebar" th:fragment="sidebar-fragment"><!-- Sidebar-->
  <section class="sidebar"><!-- sidebar menu-->
    <ul class="sidebar-menu" data-widget="tree">
      <li><a href="index"><i class="mdi mdi-cube-outline"></i><span>Configuration</span></a></li>
      <li><a href="website"><i class="mdi mdi-minus-network"></i><span>Website</span></a></li>
      <li><a href="cluster"><i class="mdi mdi-image-filter"></i><span>Cluster</span></a></li>
      <li><a href="node"><i class="mdi mdi-content-duplicate"></i><span>Node</span></a>
      <li><a href="#"><i class="mdi mdi-comment-account-outline"></i><span>Contract</span></a>
    </ul>
  </section>
</aside>

<aside class="control-sidebar" th:fragment="control-sidebar-fragment">
  <div class="rpanel-title"><span
      class="waves-effect waves-light pull-right btn btn-circle btn-danger"><i
      class="ion ion-close text-white" data-toggle="control-sidebar"></i></span>
  </div>
  <ul class="nav nav-tabs control-sidebar-tabs">
    <!--      <li class="nav-item"><a href="#control-sidebar-home-tab" data-toggle="tab"-->
    <!--                              title="Notifications"><i class="ti-comment-alt"></i></a></li>-->
  </ul><!-- Tab panes -->
  <div class="tab-content"><!-- Home tab content -->
    <div class="tab-pane" id="control-sidebar-home-tab">
    </div><!-- /.tab-pane --><!-- Settings tab content -->
  </div>
</aside><!-- Control-sidebar -->
</html>